:where(.wp-site-blocks *:focus) {
  outline-width: 2px;
  outline-style: solid;
}

.wp-block-group .wp-block-navigation a {
  text-decoration: none !important;
  outline: none !important;
}

.wp-block-group .wp-block-navigation a:hover {
  color: #eb3778 !important;
}

.wp-block-group .wp-block-navigation a:focus {
  outline: none !important;
  box-shadow: none !important;
}

.lang-switcher {
  position: absolute;
  right: -100px;
}

header.wp-block-template-part {
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0;
}

/*HOME PAGE HERO SECTION START*/
@media screen and (max-width: 1280px) {
  .lang-switcher {
    display: none;
  }
  .web-spacer {
    display: none;
  }
}
.page-nav {
  -webkit-box-shadow: 0px 11px 37px -26px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 11px 37px -26px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 11px 37px -26px rgba(0, 0, 0, 0.52);
}
.hover-anim:hover {
  transform: scale(1.01); /* Slight zoom */
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds subtle shadow */
}

.main-navbar {
  overflow: hidden;
  position: sticky; /* Makes the navbar sticky */
  top: 0; /* Sticks it to the top of the page */
  width: 100%;
  z-index: 1000; /* Keeps it above other content */
}

@media screen and (min-width: 1280px) {
  .OurServices {
    position: absolute;
    z-index: 99990;
    top: -100px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .relativePos {
    position: relative;
  }
  .HeroCover {
    position: relative;
  }
}

/*HOME PAGE HERO SECTION END*/
